.img {
   margin-top: 10px;
   width: 123px;
   height: 182px; 
}
.title {
    text-align: center;
}
.card {
    border: 1px solid black;
    margin: 30px 10px 0 0;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 330px;
    font-size: 10px;
} 

.card a {
    font-size: 17px;
}
.search {
    margin: 20px auto 0 auto;
    width: 800px;
}

.search-input {
    margin-right: 10px;
    width: 600px;
}

.select-input {
    width: 150px;
}

.cardGroup {
    margin: 20px;
}